[user]
	name = Michael Dupuis Jr.
	email = michael.dupuis@dockyard.com
[color]
  ui = true
[branch]
  autorebase = always
[alias]
  co = checkout
  delete-merged-branches = "!git branch --merged | grep -v master | xargs git branch -d"
  dt = difftool
  po = push origin
  st = status
[push]
  default = current
[core]
	autocrlf = input # https://help.github.com/articles/dealing-with-line-endings/
  excludesfile = /Users/michaeldupuisjr/.gitignore
  editor = nvim
[merge]
	tool = Kaleidoscope
[fetch]
  prune = true
[diff]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
